* {
    font-family: Verdana, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*html {
    scrollbar-width: none;
}
html::-webkit-scrollbar {
    display: none;
}*/

.main {
    background-image: url('./src/background3.svg');
    background-size: 75%;
    background-position: 50% 0%;
    background-repeat: no-repeat;
    background-color: #333;
    color: white
}

nav {
    background-color: #2F3C7E;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
    position: sticky;
    top: 0;
    padding: 10px;
    width: 100%;
    z-index: 1000;
}
.navigation{
    justify-content: space-between;
}

nav a {
    color: #FBEAEB;
    text-wrap: nowrap;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 20px;
}

nav a:hover {
    background-color: #1d2652;
    transition: background-color 0.3s ease;
}

.dropdown {
    position: relative;
    display: inline-block;
    color: #333;
    background-color: #2F3C7E;
}

.dropdown-button {
    /*color: #5b0e2d;*/
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    white-space: nowrap;
}

.dropdown-button::after {
    content: "";
    position: absolute;
    bottom: 10%;
    left: 50%;
    width: 80%;
    height: 2px;
    background-color: white;
    transform: translateX(-50%);
    transition: 0.3s ease-in-out;
}

.arrow {
    font-size: 14px;
    transition: transform 0.3s ease;
}

.dropdown:hover .arrow {
    transform: rotate(180deg);
}

.dropdown-content {
    background-color: #2F3C7E;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 160px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    z-index: 1;
    padding: 5px;
    min-width: 100%;
    max-width: 400px;
    width: auto;
}

.dropdown-content a {
    display: block;
    margin: 5px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dropdown:hover .dropdown-content {
    display: block;
}

main {
    padding: 20px;
}

p {
    font-size: 1.4rem;
    margin: 1.5rem 0rem;
    text-indent: 2rem;
}

h1 {
    font-size: 2rem;
    text-align: center;
    margin: 1rem 0;
}

h2 {
    font-size: 1.8rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

h3 {
    font-size: 1.6rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

p.question {
    white-space: pre-line;
}

h6 {
    font-size: 1.2rem;
    opacity: 0.8;
    font-weight: 600;
    margin: 0;
}


ul {
    margin-top: 1rem;
    margin-left: 2rem;
}

ol {
    margin-top: 1rem;
    margin-left: 2rem;
}

li {
    margin-bottom: 0.5rem;
    font-size: 1.4rem;
}

.picture {
    width: 1fr;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*About me page*/
.my_main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #2F3C7E;
    color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    font-family: Arial, sans-serif;
    max-width: 400px;
    margin: 50px auto;
    text-align: center;
}

.picture_my {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.picture_my img {
    width: 100%;
    object-fit: cover;
    height: 450px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(255, 215, 0, 0.3);
}

.picture_my p {
    font-size: 14px;
    font-weight: bold;
}

.contacts {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 12px;
    width: 100%;
    max-width: 400px;
    font-family: Arial, sans-serif;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.contacts p:first-child {
    font-size: 1.4rem;
    font-weight: bold;
    color: #ADD8E6;
    margin: 0;
    text-indent: 0;
}

.contact {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
}

.contact p {
    margin: 0;
    font-size: 16px;
    color: #fff;
    text-align: center;
}

.link {
    font-weight: bold;
    color: #FFA500;
    transition: color 0.3s ease-in-out;
    text-decoration: none;
}

.link:hover {
    color: #FF4500;
}

/*picture hardcode*/
.small {
    width: 250px;
}

.medium {
    width: 450px;
}

.big {
    width: 700px;
}

.picture p {
    margin: 0 150px;
}

.question-container {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 25px;
}

.answers {
    margin-top: 20px;
    font-size: 1.2rem;
}

.answers input[type="radio"] {
    margin-right: 5px;
}

button {
    background-color: #4CAF50;
    border: none;
    cursor: pointer;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    min-width: 80px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease;
}

button:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

.results {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background-color: #2F3C7E;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    margin-top: 20px;
}

.hidden{
    display: none;
}

.results div {
    flex: 1;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    min-width: 80px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease;
}

#result {
    background-color: #FFC107;
}

#right {
    background-color: #4CAF50; 
}

#wrong {
    background-color: #F44336;
}

#skip {
    background-color: #607D8B;
}

.right-answer{
    /*background-color: #4CAF50;
    border-radius: 15px;*/
    text-decoration: underline;
    text-decoration-color: #4CAF50;
    text-decoration-thickness: 4px;
    text-underline-position: under;
}

.quadro-answer{
    text-decoration: underline;
    text-decoration-color: #4CAF50;
    text-decoration-thickness: 4px;
    text-underline-position: under;
}

.input-label-wrapper {
    display: flex;
    gap: 5px;
    width: fit-content;
    padding: 5px 15px 5px 0;
}

.leader {
    width: 250px;
    height: 200px;
    object-fit: contain;
}

.grid-container {
    display: flex;
    align-items: center;
}

select {
    margin-right: 1rem;
    font-size: 0.8rem;
    height: 30px;
    padding: 4px;
    border-radius: 5px;
    border: none;
    background: #666;
    color: white;
}

select:focus {
    outline: none;
    background: #777;
}



.correct {
    border: 5px solid #4CAF50;
}

.wrong {
    border: 5px solid crimson;
}

/*Search*/
.search-box {
    display: flex;
    align-items: center;
    justify-content: end;
    background: #fff;
    border-radius: 50px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
    width: 100%;
    max-width: 600px;
    transition: 0.3s;
    position: relative;
}

.search-input {
    border: none;
    outline: none;
    flex: 1;
    padding: 10px 15px;
    border-radius: 50px;
    font-size: 16px;
    width: 100%;
}

.search-button {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
    padding: 5px 10px;
    color: #666;
    transition: 0.3s;
}

.search-box:hover,
.search-input:focus {
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.search-button:hover {
    color: #333;
}

#search-results {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    z-index: 999;
    max-height: 300px;
    overflow-y: auto;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    padding: 10px;
    display: none;
}

.highlighted {
    background-color: yellow;
    transition: background-color 0.5s ease-in-out;
}

.search-result {
    padding: 12px;
    font-size: 14px;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-bottom: 8px;
    
}
.search-result a{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.search-result:hover {
    background-color: #f0f0f0;
    transform: scale(1.02);
}

.search-result:active {
    transform: scale(0.98);
}

.search-result a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    display: block;
    padding: 8px;
}

.search-result a:hover {
    color: #007bff;
}


/* Загальні стилі для мобільних пристроїв */
@media screen and (max-width: 768px) {
    body {
        font-size: 16px;
        line-height: 1.5;
    }

    .my_page{
        background-color: #2F3C7E;
    }

    .my_main {
        box-shadow: unset;
    }

    .question-container img {
        width: 100%;
    }

    nav {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav a {
        text-align: center;
        text-wrap: wrap;
        color: white;
        text-decoration: none;
        font-size: 18px;
        padding: 8px 12px;
        background-color: #101113e8;
        border-radius: 5px;
        width: auto;
        min-width: 200px;
        max-width: 50%  ;
    }

    .navigation-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .navigation-wrapper a {
        width: auto;
        min-width: 200px;
        max-width: 50%  ;
    }

    .dropdown {
        display: flex;
        flex-direction: column;
        width: auto;
        min-width: 200px;
        max-width: 50%;
        margin-bottom: 10px;
    }

    .dropdown-button::after {
        width: 90%;
    }

    .dropdown-content {
        position: static;
        width: 100%;
    }
    .search-result a {
        color: white;
    }

    h1,
    h2 {
        text-align: center;
    }

    .picture {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 15px 0;
    }

    .picture img {
        width: 100%;
        height: auto;
        border-radius: 8px;
    }

    .picture p {
        margin: 0 25px;
        text-align: center;
        text-indent: 0;
    }

    ul {
        padding-left: 20px;
    }

    ul li {
        margin-bottom: 8px;
    }
}