<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Тест №1</title>
    <script src="../js/questions1.js" defer></script>
    <script src="../js/index.js" defer></script>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <nav class="navigation">
        <a href="../index.html">Головна</a>
        <div class="navigation-wrapper">
            <div class="dropdown">
                <a class="dropdown-button">Розділ <span class="arrow">▼</span></a>
                <div class="dropdown-content">
                    <a href="./topic1.html">Державотворчі процеси та стан економіки</a>
                    <a href="./topic2.html">Міжнародні відносини України. Помаранчева революція</a>
                    <a href="./topic3.html">Суспільно-політичне життя України у 2005-2013 рр.</a>
                </div>
            </div>
            <div class="dropdown">
                <a class="dropdown-button">Тестування <span class="arrow">▼</span></a>
                <div class="dropdown-content">
                    <a href="./test1.html">Тест №1</a>
                    <a href="./test2.html">Тест №2</a>
                    <a href="./test3.html">Тест №3</a>
                </div>
            </div>
            <a href="./about.html">Про мене</a>
        </div>
    </nav>
    <h1>Державотворчі процеси та стан економіки</h1>
    <main>
        <div id="quiz-container"></div>
        <button id="submitBtn">Перевірити</button>
        <div class="results hidden">
            <div id="result"></div>
            <div id="right"></div>
            <div id="wrong"></div>
            <div id="skip"></div>
        </div>
    </main>
</body>

</html>