<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Міжнародні відносини України. Помаранчева революція</title>
    <link rel="stylesheet" href="styles.css">
    <script src="../js/search.js" defer></script>
</head>

<body>
    <nav class="navigation">
        <div class="navigation-wrapper">
            <a href="../index.html">Головна</a>
            <div class="dropdown">
                <a class="dropdown-button">Розділ <span class="arrow">▼</span></a>
                <div class="dropdown-content">
                    <a href="./topic1.html">Державотворчі процеси та стан економіки</a>
                    <a href="./topic2.html">Міжнародні відносини України. Помаранчева революція</a>
                    <a href="./topic3.html">Суспільно-політичне життя України у 2005-2013 рр.</a>
                </div>
            </div>
            <div class="dropdown">
                <a class="dropdown-button">Тестування <span class="arrow">▼</span></a>
                <div class="dropdown-content">
                    <a href="./test1.html">Тест №1</a>
                    <a href="./test2.html">Тест №2</a>
                    <a href="./test3.html">Тест №3</a>
                </div>
            </div>
            <a href="./about.html">Про мене</a>
        </div>

        <div class="search-box">
            <input type="text" placeholder="Шукаю..." class="search-input">
            <div id="search-results"></div>
        </div>
    </nav>

    <main>
        <h1>Міжнародні відносини України. Помаранчева революція</h1>
        <p>Поява незалежної України цілком змінила геополітичну ситуацію в Європі. Реакція світової спільноти на цей
            факт
            була несподівано дружньою та одностайною. Що ж до визнання незалежності України Росією, то воно не мало
            безумовного характеру. Російський уряд прагнув відтворити Радянський Союз у новій формі - через
            Співдружність
            Незалежних Держав.</p>
        <p>Керівники нової Росії тривалий час були переконані в тому, що Україна не зможе існувати як самостійна
            держава.
            Вони тримали в замороженому стані проблему Чорноморського флоту і дотичну до неї кримську проблему,
            використовуючи їх як важіль тиску на Україну. Тільки в травні 1997 р. президент РФ Б. Єльцин дійшов
            висновку, що
            з Україною треба укладати повномасштабний договір, у якому обидві сторони визнавали б територіальну
            цілісність
            держав і підтверджували непорушність кордонів, що існують між ними.</p>

        <p>Налагодження співпраці з країнами Заходу тривалий час наражалося на перешкоди, зумовлені фактичною
            нерозв’язаністю неядерного статусу України. Лише в 1994 р. після приєднання до Договору про нерозповсюдження
            ядерної зброї склалися сприятливі обставини для входження України до світової спільноти. Відтоді Україну
            почали
            сприймати як державу, що є вагомим чинником міжнародного життя.</p>
        <p>На перші шпальти світових ЗМІ Україна потрапила у зв’язку з Помаранчевою революцією - хвилею мирних акцій
            протесту впродовж листопада - грудня 2004 р. через очевидні зловживання влади, що поставили під сумнів
            чесність
            виборів Президента України. Ця подія мала вагоме значення для історії України, бо пробудила в мільйонів
            українців почуття національної гідності й гордості, змусила їх поважати себе.</p>
        <h2>1. Відносини України із США, НАТО та ЄС</h2>
        <p>Найбільш плідних результатів у перші десятиліття незалежності Україна досягла на міжнародній арені.</p>
        <p>На початок 2004 р. Україну визнали й установили з нею дипломатичні відносини 173 країни. Визнання відбувалося
            не
            лише на двосторонньому рівні.</p>
        <div class="picture">
            <img id="Picutre195" class="big" src="./src/image195.png">
            <p></p>
        </div>
        <p>30 січня 1992 р. Україна стала членом Конференції з безпеки та співробітництва в Європі (з 1995 р.
            Організації з
            безпеки та співробітництва в Європі, скорочено ОБСЄ)</p>
        <p>У перші роки незалежності американська адміністрація ставилася до України дуже стримано - як до країни, що,
            на
            їхню думку, неочікувано виявилася нелегітимним власником третього у світі за потужністю ракетно-ядерного
            потенціалу. Він складався зі 176 міжконтинентальних балістичних ракет з 1200 боєголовками, 41
            бомбардувальника
            стратегічної авіації, здатних доставити до цілі 650 ядерних боєприпасів, і понад 2,5 тис. тактичних ядерних
            ракет. Сукупний потенціал розміщеної в Україні однієї лише 43-ї ракетної армії перевищував потенціал Великої
            Британії, Франції або КНР.</p>
        <p>Ще напередодні Всеукраїнського референдуму 1 грудня 1991 р. Верховна Рада зробила урочисту заяву про
            без’ядерний
            статус України. У травні 1992 р. у Лісабоні Україна разом з делегаціями Росії, Білорусі та Казахстану -
            нових
            держав, які стали власниками успадкованої від СРСР ядерної зброї, - підписала протокол до договору між СРСР
            і
            США від 31 липня 1991 р. про скорочення й обмеження стратегічних наступальних озброєнь (СНО-1).</p>
        <p>Коли президентську посаду обійняв Л. Кучма, він переконав народних депутатів поставити останню крапку в
            перетворенні України на неядерну державу: приєднатися до Договору про нерозповсюдження ядерної зброї. 16
            листопада 1994 р. парламент ухвалив Закон України «Про приєднання України до Договору про нерозповсюдження
            ядерної зброї від 1 липня 1968 р.».</p>
        <p>5 грудня 1994 р. у Будапешті відбувалася зустріч глав держав і урядів - учасниць Наради з
            безпеки та співробітництва в Європі. Президенти США і Російської Федерації, прем’єр-міністр Великої Британії
            надали Україні гарантії безпеки. Зокрема, вони зобов’язалися поважати незалежність і суверенітет та чинні
            кордони України, утримуватися від економічного тиску, спрямованого на те, щоб підкорити власним інтересам
            здійснення Україною прав, притаманних її суверенітету, й у такий спосіб отримати будь-які переваги.</p>
        <div class="picture">
            <img id="Picutre196" class="big" src="./src/image196.jpg">
            <p>Підписання Будапештського меморандуму</p>
        </div>
        <p>Будапештський меморандум з гарантіями безпеки для України не передбачав жодних санкцій для ядерних держав,
            які
            могли б порушити його зобов’язання. Він був не юридично обов’язковим міжнародним договором, а фіксацією
            політичної домовленості. Керівники ядерних держав могли застосувати санкції проти тієї держави, що порушила
            цю
            домовленість, суто з моральних мотивів.</p>
        <p>Відмова від ядерної зброї й визначення статусу України як неядерної держави змінили відносини із США. Під час
            візиту в листопаді 1994 р. Л. Кучма підписав Хартію українсько-американського партнерства, дружби та
            співробітництва. Були укладені угоди про надання американської допомоги Україні у здійсненні економічних
            реформ.
            Незабаром серед країн, які одержували фінансову допомогу від США, Україна посіла третє місце після Ізраїлю
            та
            Єгипту.</p>
        <p>Кредити, надані Україні урядами США, ФРН, Італії, інших країн, а також міжнародними організаціями -
            Міжнародним
            валютним фондом, Світовим банком, Європейським банком реконструкції і розвитку, допомогли поліпшити
            платіжний
            баланс. Без них, зокрема, не можна було б розплатитися з Росією за нафту й газ. Водночас, домагаючись
            кредитів,
            український уряд ціною збільшення зовнішньої заборгованості відсував на майбутнє розв’язання невирішених в
            умовах гострої економічної кризи проблем.</p>
        <p>Успішні кроки Л. Кучми у здійсненні ринкових реформ заохотили американську адміністрацію налагодити співпрацю
            з
            Україною. Поступово, однак, США розчарувалися в можливостях і перспективах на українських теренах, і це
            позначилося передусім на скороченні обсягів фінансової допомоги. Місцеві олігархи створювали несприятливі
            умови
            для американських бізнес-партнерів. Але частіше лунали сигнали про «нецільове використання» американської
            фінансової допомоги.</p>
        <p>Не одразу керівництво України виявило інтерес до співробітництва з НАТО. Проте коли ця
            організація в січні 1994 р. ініціювала програму «Партнерство заради миру» (ПЗМ), Україна першою з країн СНД
            приєдналася до неї. За 1995-1996 рр. українські військовослужбовці взяли участь у трьох десятках міжнародних
            навчань миротворчих сил як на вітчизняних полігонах, так і за кордоном. У липні 1997 р. під час саміту країн
            -
            членів НАТО в Мадриді було підписано Хартію про особливе партнерство між Україною та Організацією
            Північноатлантичного договору.Українські та російські миротворчі контингенти взяли участь у
            припиненні збройного протистояння в Боснії та Герцеговині. У травні 1997 р. Альянс відкрив у Києві Центр
            інформації та документації, а Україна - своє представництво у штаб-квартирі НАТО. Київський центр розгорнув
            велику просвітницьку роботу, прагнучи розвіяти радянські стереотипи серед українських громадян.</p>
        <p>Однак у червні 2004 р. на саміті НАТО в Стамбулі Л. Кучма визнав, що Україна не відповідає критеріям членства
            в
            Альянсі, а 15 липня переглянув Воєнну доктрину України, скасувавши пункт про майбутній вступ країни до
            Північноатлантичного альянсу. Така зміна позиції була на користь Росії, яка сприймала членство
            посткомуністичних
            і пострадянських країн у НАТО як наближення ворожих військ до кордонів Росії.</p>
        <p>Першим важливим етапом співпраці України з Європейським Союзом став вступ України до Ради Європи 9
            листопада 1995 р. Він зробив можливим прагнення наступної мети - про асоціацію з Євросоюзом і далі
            - про повноцінне членство в ньому.</p>
        <p>Політико-правові засади співпраці ЄС з Україною були закладені Договором про партнерство і
            співробітництво між Україною і Євросоюзом, підписаним у червні 1994 р. в Люксембурзі (набув
            чинності 1 березня 1998 р.). У 2007 р. розпочато переговори про укладення нового договору, який мав замінити
            Договір про партнерство і співробітництво. Представники ЄС наполягали на налагодженні стратегічних відносин
            з
            Україною як з країною-сусідом. Під час паризького Саміту Україна - ЄС (вересень 2008 р.) досягнуто
            компромісне
            рішення щодо назви цієї угоди як Угоди про асоціацію України з ЄС. Вона давала змогу перейти від партнерства
            і
            співпраці до політичної асоціації та економічної інтеграції.</p>
        <p><em>Прочитайте уривки з Будапештського меморандуму. Поділіться міркуваннями/припущеннями, чому цей документ
                не
                став запобіжником російській агресії проти України у 2014 р.</em></p>
        <h2>2. Відносини України з Росією</h2>
        <p>Найвагомішим для України було визнання її незалежності Росією. Водночас визнання України не перешкоджало
            Російській Федерації заявляти про свої територіальні претензії. У травні 1992 р. Верховна Рада РФ заявила,
            що
            документи про передання в 1954 р. Кримської області Україні не мають юридичної сили з моменту їх прийняття.
            Російських законодавців особливо хвилювала доля Севастополя. Виконуючи доручення З’їзду народних депутатів
            Росії, російський парламент у липні 1993 р. ухвалив безпрецедентне рішення про надання Севастополю статусу
            міста
            Російської Федерації. Рада Безпеки ООН висловила здивування з цього приводу, а президент РФ Б. Єльцин
            змушений
            був заявити про юридичну неспроможність такого рішення.</p>
        <p>Переговори про укладення повномасштабного рамкового договору між Україною та Росією тривали роками.</p>
        <p>Одним із найдражливіших для обох сторін було питання Чорноморського флоту, вартість якого, за оцінками
            міжнародних експертів, дорівнювала станом на початок 1992 р. приблизно 80 млрд доларів США. Переговорний
            марафон
            закінчився 28 травня 1997 р. Цього дня голови урядів України й Росії підписали угоду про статус та умови
            перебування Чорноморського флоту Російської Федерації на території України, про параметри розподілу
            флоту і взаєморозрахунки, пов’язані з перебуванням російського флоту на території України. Зокрема, було
            домовлено, що Севастополь залишиться базою тимчасового перебування Чорноморського флоту РФ до 2017 р. на
            правах
            оренди (97 млн доларів США на рік). Плавсклад був поділений порівну, але Росія викуповувала непотрібні
            Україні
            кораблі. Сума викупу й вартість 20-річної оренди бази в Севастополі покривалися боргом України за
            енергоносії.
        </p>
        <p>30-31 травня 1997 р. Б. Єльцин здійснив свій перший державний візит в Україну з метою підписання Договору про
            дружбу, співробітництво і партнерство між Україною і Російською Федерацією. Кінцева редакція однієї зі
            статей
            містила положення: «Високі Договірні Сторони відповідно до положень Статуту ООН і зобов’язань по Заключному
            акту
            Наради з безпеки і співробітництва в Європі поважають територіальну цілісність одна одної і підтверджують
            непорушність існуючих між ними кордонів». Посилання на Статут ООН означало юридичне визнання сторонами
            територіальної цілісності й непорушності кордонів відповідно до норм міжнародного права. Російська
            Федерація уклала міждержавний договір, у якому було зафіксовано територіальну цілісність України і
            російсько-український кордон, який склався історично.</p>
        <h2>3. Президентські вибори 2004 р. Помаранчева революція</h2>
        <p>У 2004 р. Україна привернула до себе увагу всього світу. Інтрига розгорталася навколо президентських виборів,
            під
            час яких боротьба точилася між двома учасниками перегонів. Опозиційні сили висунули на посаду Президента
            України
            лідера блоку «Наша Україна» В. Ющенка. Провладним кандидатом у президенти став чинний прем’єр-міністр В.
            Янукович, якого висунула Партія регіонів. Президентські вибори відбулися 31 жовтня 2004 р. У західних і
            центральних областях перевага була за В. Ющенком, у південних і східних - за В. Януковичем: Ющенко набрав
            39,87
            % голосів, Янукович - 39,32 %, тобто на 0,55 % менше. Від початку було зрозуміло, що другий тур голосування
            неминучий. У другому турі 21 листопада Захід і Центр проголосував переважно за В. Ющенка, а Південь і Схід -
            за
            Януковича. Загалом по Україні Ющенко вигравав вибори в другому турі, якби не високий рівень фальсифікацій в
            окремих регіонах.</p>
        <p>Увечері В. Ющенко провів зустріч із представниками дипломатичного корпусу, на якій були присутні посли
            Канади,
            США, Франції, Великої Британії, Німеччини та інших країн. Під час зустрічі представники опозиції повідомили,
            що
            в Донецькій області В. Янукович «намалював» собі 1 млн 200 тис. голосів, у Луганській - до 500 тис., у
            Миколаївській, Херсонській, Одеській, Запорізькій та Дніпропетровській, разом узятих - 1 млн голосів. За
            словами
            В. Ющенка, у Донецькій області на 2020 дільницях працювало тільки 19 його представників. Кандидат у
            президенти
            просив демократичні країни дати оцінку перебігу виборів в Україні.</p>
        <p><em>Прочитайте фрагменти документів та роздивіться карикатури. » 1. За допомогою яких технологій відбувалося
                фальшування результатів виборів Президента України у 2004 р.? » 2. Які особливості суспільно-політичного
                життя в Україні створювали можливості для застосування таких маніпуляцій? » 3. Про що свідчить той факт,
                що
                голоси виборців розділилися майже навпіл? » 4. Чому в Україні в ті роки були сильними проросійські
                настрої
                серед частини населення? Як це пов’язано з політичним курсом багатовекторності?</em></p>
        <p>На Майдані Незалежності в Києві почали збиратися прихильники В. Ющенка. У ніч на 23 листопада на Майдані
            Незалежності й на Хрещатику перебувало до 10 тис. громадян. Біля пам’ятника Незалежності стояли 27 наметів,
            куди
            звозилися протоколи з мокрими печатками. Біля будинку Консерваторії поставили польову кухню. Досить швидко
            містечко розрослося до 400 наметів, розташованих уздовж усього Хрещатика - до Бессарабки. Штаб В. Ющенка
            організував пряму супутникову трансляцію з місця подій, якою одразу скористалися провідні телеканали світу.
            Панорама київського Майдану потрапила в поле зору багатьох країн. Удень кількість людей на Хрещатику зросла
            до
            100-150 тис, 23 листопада відбулися мітинги на підтримку В. Ющенка у переважній більшості великих міст
            України.
        </p>
        <p>Від ранку 25 листопада під контроль протестувальників перейшли Будинок профспілок на Майдані Незалежності та
            Міжнародний центр культури і мистецтв на вулиці Інститутській. У профспілковому приміщенні розташовувався
            оперативний штаб, який керував організацією дій на Майдані Незалежності.</p>
        <p>Одразу після оголошення ЦВК фальсифікованих результатів другого туру В. Ющенко звернувся через довірену особу
            до
            Верховного Суду України з вимогою визнати недійсними результати голосування в Донецькій і Луганській
            областях
            через масові порушення законодавства, що спотворювали результати народного волевиявлення.</p>
        <h2>ЗАУВАЖТЕ</h2>
        <p><em>Акції протесту, що тривали впродовж листопада - грудня 2004 р., відбувалися під жовтогарячими, або
                помаранчевими, знаменами. Саме тому ті події назвали Помаранчевою революцією.</em></p>
        <p><em>Майже всі учасники протесту та їхні симпатики мали помаранчеву атрибутику: прапори, стрічки, накидки,
                хустинки.</em></p>
        <p>Увечері 25 листопада Верховний Суд України заборонив ЦВК оприлюднювати результати виборів. Після
            багатьох днів протистояння Верховний Суд України визнав за необхідне відновити права суб’єкта виборчого
            процесу
            шляхом проведення повторного голосування за правилами, визначеними законом про вибори Президента України.
            Повторне голосування другого туру було призначене на 26 грудня.</p>
        <p>Вихід з політичної кризи вдалося знайти завдяки тривалим переговорам і напрацюванню компромісного рішення: з
            боку
            влади головною поступкою була згода на проведення переголосування другого туру виборів, а з боку опозиції -
            згода на конституційну реформу, за якою з 2006 р. Україна ставала парламентсько-президентською
            республікою.</p>
        <p>8 грудня 2004 р. Верховна Рада України законодавчо започаткувала конституційну реформу.</p>
        <ul>
            <li>Кабінет Міністрів ставав вищим органом у системі органів виконавчої влади.</li>
            <li>Уряд призначався парламентом за поданням Президента України.</li>
            <li>Кандидатуру для призначення на посаду прем’єр-міністра Президент України вносив за пропозицією коаліції
                депутатських фракцій у Верховній Раді, яка становила більшість у парламенті.</li>
            <li>Верховна Рада мала працювати не 4, а 5 років.</li>
            <li>Вибори до парламенту відбувалися на пропорційній основі.</li>
            <li>Президент здобував право достроково припинити повноваження Верховної Ради, якщо протягом одного місяця
                вона не змогла сформувати парламентську більшість.</li>
        </ul>
        <p>Повторне голосування другого туру відбулося 26 грудня 2004 р. Його загальні підсумки, за даними
            ЦВК, були такі:</p>
        <ul>
            <li>за В. Ющенка проголосували 15 млн 116 тис. осіб (51,99 % кількості виборців, які взяли участь у
                голосуванні);</li>
            <li>за В. Януковича проголосували 12 млн 849 тис. осіб (44,2 %).</li>
        </ul>

        <h2>Список використаних джерел:</h2>
        <ol>
            <li>Конституція України</li>
            <li>Офіційні матеріали Верховної Ради України</li>
            <li>Аналітичні звіти громадських організацій</li>
            <li>Праці українських істориків та політологів</li>
            <li>Підручник "Історія України 11 клас" </li>
        </ol>
    </main>
</body>

</html>
