<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Державотворчі процеси та стан економіки</title>
    <link rel="stylesheet" href="styles.css">
    <script src="../js/search.js" defer></script>>
</head>

<body>
    <nav class="navigation">
        <a href="../index.html">Головна</a>
        <a href="./about.html">Про мене</a>
        <div class="dropdown">
            <a class="dropdown-button">Розділ</a>
            <div class="dropdown-content">
                <a href="./topic1.html">Державотворчі процеси та стан економіки</a>
                <a href="./topic2.html">Міжнародні відносини України. Помаранчева революція</a>
                <a href="./topic3.html">Суспільно-політичне життя України у 2005-2013 рр.</a>
            </div>
        </div>
        <div class="dropdown">
            <a class="dropdown-button">Тестування ⌄</a>
            <div class="dropdown-content">
                <a href="./test1.html">Тест №1</a>
                <a href="./test2.html">Тест №2</a>
                <a href="./test3.html">Тест №3</a>
            </div>
        </div>
        <div class="search-box">
            <input type="text" placeholder="Search..." class="search-input">
            <button class="search-button">
                🔍
            </button>
            <div id="search-results"></div>
        </div>
    </nav>
    <main>
        <h1>Вступ</h1>
        <p>Попри жорстку боротьбу в українському парламенті між компартійно-радянською більшістю й демократичною
            меншістю, державотворення відбувалося успішно. Демократична опозиція висувала гасла й забезпечувала їм
            народну підтримку, а номенклатура змушена була втілювати ці гасла в життя, щоб не втратити влади.
        </p>
        <p>Утвердження національної державності забезпечувалося формуванням власної грошової системи, виробленням
            законодавства про українське громадянство й кордони тощо. Принципову роль у створенні обличчя нової України
            відіграла вимушена згода компартійно-радянської номенклатури замінити радянську символіку на національну.
        </p>
        <p>Успадкована від радянських часів економічна криза рік від року поглиблювалася. Це пояснювалося як
            об’єктивними обставинами, так і прорахунками в економічній політиці українського керівництва. Захоплена
            боротьбою за владу та повноваження, українська політична еліта не приділила достатньої уваги розвитку
            економіки й не змогла розв’язати більшість надзвичайно складних проблем переходу до ринку. На об’єктивні
            економічні труднощі накладалися некомпетентне керівництво господарством і небажання здійснювати ринкові
            реформи. Тому проблеми, що інші посткомуністичні країни рано чи пізно подолали, в Україні залишилися.
        </p>
        <h2>1. Державотворчий процес 1992-1994 рр.</h2>
        <p>У середині січня 1992 р. Президія Верховної Ради України видала указ «Про Державний гімн
            України». Приймалася музична редакція національного гімну «Ще не вмерла України і слава, і воля...», автором
            якої був композитор М. Вербицький. 22 січня в Києві відбувся мітинг громадськості за участю новообраного
            Президента України Л. Кравчука, присвячений Дню соборності українських земель. 28 січня, коли почала роботу
            5-та сесія Верховної Ради XII скликання, національний синьо-жовтий прапор був затверджений як
            Державний прапор України.
        </p>
        <div class="picture">
            <img id="Picutre195" class="big" src="./src/image195.jpg">
            <p></p>
        </div>
        <p>19 лютого після тривалих дебатів парламент затвердив знак князя Володимира Великого (тризуб)
            як малий герб України. У постанові зазначалося, що тризуб є основним елементом майбутнього великого
            Державного герба України.
        </p>
        <div class="picture">
            <img id="Picutre187" class="medium" src="./src/image187.jpg">
            <p>Президент УНР в екзилі Микола Плав’юк передає державні атрибути УНР Президентові України Л. Кравчуку.
                Серпень 1992 р.
            </p>
        </div>
        <p>Верховна Рада ще 24 серпня 1991 р. затвердила постанову про негайні заходи із запобігання можливим спробам
            військового перевороту. У ній ішлося про потребу невідкладного створення управлінських і силових структур,
            безпосередньо підпорядкованих парламенту. Після підготовки 20 вересня було ухвалено постанову Верховної Ради
            «Про створення Служби національної безпеки України», а 4 листопада - закони «Про Національну гвардію
            України», «Про державний кордон України», «Про Прикордонні війська України».
        </p>
        <p>6 грудня 1991 р. Верховна Рада ухвалила Закон «Про Збройні Сили України». Проголошувалося,
            що Україна як незалежна держава і суб’єкт міжнародного права створює власні Збройні Сили: війська наземної
            оборони, війська оборони повітряного простору та військово-морські сили.</p>
        <p>Керівництву України не вдалося вплинути на командування Чорноморського флоту,який майже
            цілком перебував на українських військово-морських базах, щоб флот служив новій державі. У жовтні 1993 р.
            парламент затвердив Воєнну доктрину. Вона проголошувала, що Україна не вбачає в сусідніх країнах
            супротивників і не є потенційним противником жодної держави.</p>
        <p>У жовтні 1991 р. був прийнятий Закон України «Про громадянство України». Він не передбачав подвійного
            громадянства, що мало колосальне значення для новоствореної держави, якій потрібно було відходити від
            радянського минулого.</p>
        <p>У липні 1991 р. Верховна Рада ухвалила закон про запровадження посади Президента України. У
            Конституцію УРСР 1978 р., яка не втратила чинності, було внесено доповнення: «Президент України є главою
            держави і главою виконавчої влади України». Однак це доповнення не роз’яснювало, як розподіляються
            повноваження між Президентом України і Верховною Радою, як їм підпорядковуються виконавчі органи влади.</p>
        <p>Невизначеність розподілу владних повноважень між президентом України і Верховною Радою призводила до
            постійного тертя. Не були чітко прописані в Конституції й відносини найвищих посадових осіб усередині
            виконавчої гілки влади, передусім президента і прем’єр-міністра. Безсумнівною була лише підпорядкованість
            останнього президентові.</p>
        <p>Основна частина компартійно-радянської номенклатури після заборони КПРС утворила так звану
            партію влади. Це були фахівці з різних галузей економіки й культури, свого часу ретельно відібрані
            номенклатурними структурами для керівної роботи. Без таких фахівців із досвідом організаційної роботи -
            вихідців із компартійно-комсомольської та радянської номенклатури - життя суспільства розвалилося б.</p>
        <p>Не маючи справжніх конкурентів, «партія влади», однак, зіткнулася з викликом людей, які виринули на поверхню
            політичного життя на хвилі мітингів початку 1990-х. Висуваючи антикомуністичні гасла, підкріплені
            історичними свідченнями про жахіття сталінщини, ці люди спробували скинути компартійних функціонерів, щоб
            посісти їхні місця. Проте демагогія зазвичай не спрацьовувала. По-перше, надто низькою виявилася підготовка
            багатьох політиків нової генерації. По-друге, «партія влади» не заперечувала проти залучення до своїх лав
            професійно придатних «мітингових» політиків.
        </p>
        <p>У сформованій після березня 1990 р. Верховній Раді «партія влади» отримала більшість місць. Депутати
            парламенту з-поміж колишньої номенклатури не заперечили проти запровадження інституту президентства. Коли Л.
            Кравчук почав домагатися, щоб наповнити президентську владу реальним змістом, вони поставилися до цього
            здебільшого негативно.</p>
        <p>Протистояння Президента України та Верховної Ради на тлі всеохопної кризи закінчилося рішенням обох
            сторін достроково припинити повноваження і звернутися до виборців із проханням підтвердити
            мандати. У березні й квітні 1994 р. відбулися вибори до Верховної Ради України. Вони вперше проводилися на
            багатопартійній основі, але за мажоритарною системою.</p>
        <p>У жовтні 1991 р. на установчому з’їзді прихильники комуністичної ідеї заснували Соціалістичну партію України
            (СПУ) на чолі з О. Морозом. У червні 1993 р. у Донецьку пройшов «відбудовчий» з’їзд Компартії України (КПУ).
            Першим секретарем ЦК КПУ обрали П. Симоненка. На II з’їзді в березні 1995 р. КПУ проголосила себе
            наступницею партії, що існувала у складі КПРС. КПУ була наймасовішою на той час партією. Основу її становили
            пенсіонери, ветерани війни, робітники. Аграрна частина компартійно-радянської номенклатури в 1993 р.
            утворила політичну партію, яку назвали Селянською (СелПУ) - очолював процес колишній міністр сільського
            господарства УРСР О. Ткаченко. На IV з’їзді Народного руху в грудні 1992 р. завершилося його перетворення на
            політичну партію. Її лідером став В. Чорновіл.</p>
        <p>Понад половину мандатів, здобутих партіями на виборах до парламенту, припало на КПУ - 90. Ще 13 партій, які
            спромоглися провести своїх представників у парламент, здобули загалом 88 мандатів. За кількістю місць
            Народний рух опинився на другому місці (20 мандатів), СелПУ - на третьому (19), СПУ - на четвертому (15),
            УРП - на п’ятому (11). Інші партії були представлені одним або кількома депутатами. Таким чином парламент
            України потрапив під контроль комуністів, які набрали відносну більшість голосів. Головою Верховної Ради
            депутати обрали лідера СПУ О. Мороза.</p>
        <p>У результаті політичного компромісу влітку 1994 р. відбулися позачергові вибори Президента України.
            Президентом став Леонід Кучма.</p>
        <div class="picture">
            <img id="Picutre188" class="small" src="./src/image188.jpg">
            <p>Леонід Кучма (1938)</p>
        </div>
        <h2>2. Ухвалення Конституції України 1996 р.</h2>
        <p>Восени 1990 р. Верховна Рада затвердила Конституційну комісію, що була покликана опрацювати концепцію
            Основного закону, і відтак розпочалася безпосередня робота над текстом Конституції. У його основу були
            покладені Загальна декларація прав людини, пакти ООН про економічні, соціальні й культурні права та інші
            основоположні міжнародні документи.</p>
        <p>Найскладнішою виявилася проблема розподілу владних повноважень між Верховною Радою та Президентом України.
            Більшість депутатів парламенту не бажала передавати президенту реальної виконавчої влади. Через це
            конституційний процес зайшов у глухий кут. Чинною залишалася Конституція УРСР 1978 р., до якої внесли понад
            двісті поправок.</p>
        <div class="picture">
            <img id="Picutre189" class="medium" src="./src/image189.jpg">
            <p>Підписання Конституційного договору між Верховною Радою України і Президентом України. Голова Верховної
                Ради України О. Мороз (ліворуч) і Президент України Л. Кучма (праворуч)</p>
        </div>
        <p>Після президентських виборів 1994 р. була створена нова Конституційна комісія з двома співголовами - Л.
            Кучмою та О. Морозом. 8 червня 1995 р. Президент України та Верховна Рада уклали Конституційний договір
            терміном на один рік, і таким чином кризу влади було подолано.</p>
        <p>Рік минув у гострих суперечках. Ліві партії не погоджувалися з президентською стороною за такими головними
            пунктами: розподіл повноважень між гілками влади, визнання приватної власності на засоби виробництва,
            перетворення української національної символіки на державну, ненадання російській мові державного статусу,
            статус Республіки Крим.</p>
        <p>У ситуації гострої політичної кризи в парламенті була сформована узгоджувальна комісія, яку очолив народний
            депутат Михайло Сирота. 27 червня 1996 р. Верховна Рада почала засідання, присвячене розглядові Конституції.
            Крок за кроком узгоджувалися позиції різних політичних сил і визначався той текст, який міг бути прийнятий
            конституційною більшістю голосів. Президентська сторона не відступила від принципових позицій у сфері
            розподілу влади, права приватної власності, державної символіки, державного статусу української мови. З
            деяких питань були досягнуті взаємні поступки. Ліві не заблокували затвердження синьо-жовтого прапора як
            державного, а праві погодилися зберегти за Кримом статус автономної республіки.</p>
        <p>Постатейне узгодження проекту Конституції тривало день і ніч. Остаточне голосування відбулося вранці
            28 червня.</p>
        <div class="picture">
            <img id="Picutre190" class="small" src="./src/image190.jpg">
            <p>Мітингувальники перед Верховною Радою вимагають прийняти Конституцію України. Червень 1996 р.</p>
        </div>
        <h2>Історичне значення ухвалення Конституції України</h2>
        <ul>
            <li>Конституція закріпила правові основи незалежної України, її суверенітет і територіальну цілісність.</li>
            <li>Конституція створила необхідні умови для діяльності державних структур і відносин між ними, стала
                механізмом конструктивної взаємодії всіх гілок влади.
            </li>
            <li>Конституція створила нові засади для утвердження стабільності в країні, морально-психологічної єдності
                народу, піднесення його духовності. Вона є важливим засобом забезпечення прав людини в Україні.
            </li>
            <li>Конституція утвердила міжнародний авторитет України.</li>
        </ul>
        <h2>3. Прорахунки й успіхи економічної політики</h2>
        <p>Розпад Радянського Союзу негативно вплинув на економічне становище кожної з колишніх союзних республік. Проте
            наслідки дезінтеграції єдиного загальносоюзного народногосподарського комплексу меншою мірою позначалися на
            Росії й більшою - на інших республіках, які істотно поступалися їй за територією та економічним потенціалом.
            Ця
            особливість випливала із самої суті командної економіки - її централізації.</p>
        <p>Україна виходила на ринок слідом за Росією. Російська Федерація значно менше постраждала від розриву
            економічних
            зв’язків, тому що мала більшу кількість підприємств із замкненими в межах власних кордонів виробничими
            циклами.
            У неї був стартовий капітал для ринкових реформ у вигляді «валютних» природних багатств: нафти, газу,
            золота,
            алмазів тощо.</p>
        <p>Україна успадкувала економічну кризу від радянських часів. Однак тяжкий стан економіки спричинили і власні
            невдачі молодої держави.</p>
        <p>По-перше, українська управлінська еліта була недосвідченою. Вона несміливо ухвалювала рішення, бо раніше її
            привчали тільки виконувати вказівки союзного центру. По-друге, навіть вдалі рішення важко втілювалися в
            життя.
            Виконавча вертикаль радянських часів була зруйнована, а створення нової постійно натрапляло на перешкоди, що
            їх
            чинили одне одному політичні супротивники. По-третє, після зруйнування попередньої системи управління
            економіка
            вже перестала бути командною, але ще не стала ринковою. Вона перебувала в хаотичному стані.</p>
        <p>Надто тісно пов’язане з російською економікою, українське господарство змушене було пасти задніх, прокладаючи
            курс за межами нової держави. Це був найгірший з усіх можливих варіантів трансформації командної економіки в
            ринкову.</p>
        <p>Ринкові реформи почалися в Росії на початку 1992 р. з лібералізації цін. Унаслідок цього ціни на газ в
            Україні
            зросли за 1992 рік у 100 разів, а на нафту - у 300 разів. Зростання цін на енергоносії почало розкручувати
            спіраль інфляції.</p>
        <div class="picture">
            <img id="Picutre191" class="medium" src="./src/image191.jpg">
            <p>Купюра в 1 мільйон українських купонокарбованців. 1995 р.</p>
        </div>
        <p>На початку 1992 р. були введені купонокарбованці багаторазового використання як попередники повноцінної
            національної валюти - гривні. У середині року Україна вийшла з рублевої зони. Гривневі купюри були
            видрукувані й
            зберігалися у сховищах Національного банку. Однак погіршення ситуації в економіці унеможливило грошову
            реформу.
            За рік купонокарбованці знецінилися у 21 раз, за 1993 р. - у 103 рази. Такої гіперінфляції не спостерігалося
            у
            ті часи в жодній країні світу.</p>
        <p>У 1994 р. Національний банк України започаткував дефляційну політику. Але приборкання інфляції досягалося
            через
            штучне затримання виплат зарплатні, пенсій, інших соціальних видатків, зростання неплатежів за товари й
            послуги.
            Утім ситуація в економіці невпинно погіршувалася, курс купонокарбованця стрімко падав. У травні 1995 р. в
            обігу
            з’явилася купюра в 1 мільйон купонокарбованців, реальна вартість якої не перевищувала 6,8 долара.</p>
        <p>Щоб перешкодити знеціненню купонокарбованця, уряд запровадив фіксований курс купонів щодо долара і рубля. Але
            це
            призвело лише до зростання тіньової економіки, колосального посилення корупції в управлінському апараті й
            відпливу вітчизняних капіталів за кордон.</p>
        <p>Прагнучи знайти ресурси для бюджету, уряд почав збільшувати податки. В Україні було встановлено найвищу у
            світі
            ставку податку з громадян - 90 відсотків від одержаного прибутку. Будь-яка легальна комерційна діяльність
            ставала невигідною.</p>
        <p>У 1996 р. з’явилися ознаки економічної стабілізації, зміцнилася фінансово-банківська система, була подолана
            інфляція. Наслідком цих сприятливих зрушень стала грошова реформа. У вересні 1996 р. в обіг була
            запроваджена
            гривня, що поліпшило умови для подолання доларизації економіки й припинення «втечі» вітчизняних капіталів за
            межі країни.</p>
        <h2>4. Приватизаційні процеси</h2>
        <p>За 1991-й і першу половину 1992 р. Верховна Рада України ухвалила низку законів і постанов, які полегшували
            процеси роздержавлення та приватизації. Протягом наступних років законодавча база поповнювалася новими
            законами.</p>
        <p>У 1995-1998 рр. здійснювалася сертифікатна приватизація. 19 млн громадян України одержали приватизаційні
            майнові
            сертифікати (ваучери), тобто формально стали акціонерами приватних компаній. За цей час було приватизовано
            майже
            50 тис. об’єктів, з-поміж них понад 11 тис. середніх і великих підприємств.</p>
        <p>У приватну власність перейшло понад 90 % підприємств торгівлі, сфери обслуговування та громадського
            харчування.
            Було створено більш ніж 40 тис. малих підприємств. Завдяки приватизації досить швидко був подоланий товарний
            дефіцит і з’явилися передумови для формування середнього класу.</p>
        <p>Унаслідок сертифікатної приватизації в країні з’явилися фондові біржі й позабіржовий фондовий ринок
            торговельних
            систем. Утворився вторинний ринок цінних паперів, стала можливою вже не паперова (сертифікатна, ваучерна), а
            грошова приватизація. Почалася концентрація власності на засоби виробництва в руках невеликої групи людей,
            здатних скуповувати цінні папери найперспективніших підприємств.</p>
        <p>Грошова приватизація почалася в Україні з 1999 р. Вона мала істотні переваги перед сертифікатною, проте в
            українських умовах негайно обросла тіньовими схемами, у яких брали участь представники владної верхівки.
            Потенційні власники, зазвичай фінансово-промислові групи олігархічного походження, часто-густо
            використовували
            механізм штучного банкрутства, щоб придбати приватизаційні об’єкти без конкурентів і фінансових зобов’язань
            перед кредиторами. Приватизацію за участю олігархічного капіталу в народі назвали «прихватизацією».</p>
        <h2>5. Зміни в сільському господарстві</h2>
        <p>Сільське господарство реформувалося значно повільніше. У березні 1991 р. землю оголосили об’єктом реформи,
            але
            лише через рік почалося перетворення колгоспів на асоціації та колективні сільськогосподарські підприємства
            (КСП). До 1994 р. реформувалося 8,8 тис. колгоспів (94 % від загальної кількості). Майже всі вони здійснили
            паювання майна - надання права власності на частку майна (пай) членам колгоспів. Селяни могли використати
            земельний пай для заснування фермерського господарства або здавати в оренду КСП. З-поміж колишніх
            колгоспників
            не виявилося багато охочих стати фермерами, адже у демографічній структурі сільського населення переважали
            люди
            старшого віку. Також у селян не було капіталів для купівлі техніки, та й техніка для господарств
            фермерського
            типу в країні не вироблялася.</p>
        <p>Обсяг виробництва в сільському господарстві невпинно скорочувався. Продукція колгоспів і радгоспів обходилася
            суспільству дедалі дорожче. У 1991-1994 рр. сільське господарство було одним з основних чинників зростання
            інфляції.</p>
        <p>Наприкінці грудня 1999 р. вийшов указ Президента України «Про невідкладні заходи щодо прискорення
            реформування
            аграрного сектора економіки». Його реалізація забезпечила остаточну ліквідацію колгоспно-радгоспного ладу й
            зростання виробництва валової сільськогосподарської продукції: у 2000 р. - на 9 %, у 2001 р. - на 10 %.</p>
        <h2>6. Соціальні наслідки економічної кризи</h2>
        <p>Погіршення матеріального становища населення виявлялося у зниженні реальної заробітної плати й неможливості
            одержати зароблені гроші через багатомісячні затримки виплат. Інфляція цілком знецінила заробітну плату.
            Власне,
            й купувати щось у магазинах стало проблемою. Населення різко обмежило купівлю товарів тривалого користування
            й
            витрачало кошти переважно на продовольчі товари. Витрати на їжу в сімейних бюджетах у середині 1990-х
            перевищили
            70 %. На інші потреби (одяг, взуття, побутові й культурні потреби тощо) залишалося не більш як 30-25 %
            чистого
            доходу сім’ї. На межі зубожіння опинилася переважна частина суспільства. Заощадження, накопичені в радянські
            часи громадянами в Ощадбанках, інфляція перетворила на ніщо.</p>
        <p>У другій половині 1990-х становище мало змінилося. Постійно підвищувана тоді заробітна плата не могла
            наздогнати
            інфляцію. Тільки в першій половині 2000-х, коли інфляцію було майже приборкано, зарплата почала зростати.
        </p>
        <p>Чимдалі більше зубожіння основної маси населення й водночас колосальна концентрація коштів та майна в руках
            нечисленних скоробагатьків засвідчували явну неспроможність державних інститутів регулювати здійснення
            ринкових
            реформ. Соціальна поляризація стимулювала економічну стагнацію, гальмувала демократичні перетворення й
            нагромаджувала в суспільстві небезпечний протестний потенціал.</p>
        <p>Системна криза початку 1990-х рр. містила й демографічну кризу. На початку 1993 р. в Україні чисельність
            населення становила 52,2 млн осіб. Перепис 2001 р. зареєстрував 48 млн 457 тис., а на початок 2011 р. у
            країні
            проживало 45 млн 779 тис. осіб. Скорочення чисельності населення спричинювалося депопуляцією, тобто
            перевищенням
            смертності над народжуваністю.</p>
        <p>Вікова структура народонаселення в Україні була особливо несприятливою у сільській місцевості.</p>
        <p>Злиденність негативно впливала на стан здоров’я та фізичний розвиток людей. Показник смертності погіршувався
            й
            через кризовий стан системи охорони здоров’я. Доступ до високоякісних медичних послуг став обмеженим, ліки
            багаторазово подорожчали.</p>
        <div class="picture">
            <img id="Picutre193" class="medium" src="./src/image193Up.jpg">
            <p>Прилавки магазинів на початку 1990-х рр.</p>
        </div>


        <h2>Список використаних джерел:</h2>
        <ol>
            <li>Конституція України</li>
            <li>Офіційні матеріали Верховної Ради України</li>
            <li>Аналітичні звіти громадських організацій</li>
            <li>Праці українських істориків та політологів</li>
            <li>Підручник "Історія України 11 клас"</li>
        </ol>
    </main>

</body>

</html>