<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Суспільно-політичне життя України у 2005-2013 рр.</title>
    <link rel="stylesheet" href="styles.css">
    <script src="../js/search.js" defer></script>
</head>

<body>
    <nav class="navigation">
        <a href="../index.html">Головна</a>
        <a href="./about.html">Про мене</a>
        <div class="dropdown">
            <a class="dropdown-button">Розділ ⌄</a>
            <div class="dropdown-content">
                <a href="./topic1.html">Державотворчі процеси та стан економіки</a>
                <a href="./topic2.html">Міжнародні відносини України. Помаранчева революція</a>
                <a href="./topic3.html">Суспільно-політичне життя України у 2005-2013 рр.</a>
            </div>
        </div>
        <div class="dropdown">
            <a class="dropdown-button">Тестування ⌄</a>
            <div class="dropdown-content">
                <a href="./test1.html">Тест №1</a>
                <a href="./test2.html">Тест №2</a>
                <a href="./test3.html">Тест №3</a>
            </div>
        </div>
        <div class="search-box">
            <input type="text" placeholder="Search..." class="search-input">
            <button class="search-button">
                🔍
            </button>
            <div id="search-results"></div>
        </div>
    </nav>

    <main>
        <h1>Вступ</h1>
        <p>Десятиріччя після Помаранчевої революції - надзвичайно насичений подіями історичний період, що несе на собі
            відбитки особистостей політичних діячів, зокрема двох українських президентів, які боролися між собою за
            владу під час Помаранчевої революції: В. Ющенка та В. Януковича. Ці люди впливали на перебіг подій і певного
            мірою визначали їх характер та послідовність. Однак набагато більшою мірою події визначалися не діями
            окремих осіб, навіть обтяжених високими повноваженнями, а об’єктивними закономірностями пострадянського
            розвитку.</p>
        <p>Найбільші зміни відбулися в суспільній свідомості. Громадяни України засвідчили, що українське суспільство
            долає в собі наслідки посткомуністичної «совковості». Люди відчули свою згуртованість, перетворюючи
            задекларовані конституційні права з примари на реальність і показуючи олігархічній Україні, хто в домі
            господар.</p>
        <p>Революційного помаранчевого потенціалу не вистачило, щоб радикально змінити світобачення та звички поколінь,
            які народилися й виросли в умовах радянської дійсності. Однак український народ спромігся відповісти на
            виклик віджилих політичних сил новим Майданом. Наявність у нього такої спроможності є найпереконливішим
            свідченням значення Помаранчевої революції.</p>

        <p>Період 2005–2013 років є одним із найважливіших етапів в історії сучасної України. Ці роки характеризуються
            подальшим становленням демократії після Помаранчевої революції, посиленням євроінтеграційних прагнень,
            політичними кризами, а також підготовкою до Революції Гідності. У цей час відбувалися активні трансформації
            в
            суспільно-політичному житті, які мали значний вплив на внутрішню стабільність, міжнародні відносини та
            соціально-економічний розвиток країни.</p>
        <div class="picture">
            <img id="Picutre203" class="big" src="./src/image203.jpg">
        </div>
        <h2>1. Помаранчева революція: передумови та наслідки</h2>
        <p>Період 2005–2013 рр. починається після масштабних суспільно-політичних подій, які увійшли в історію як
            Помаранчева революція (2004 р.). Основними передумовами стали:</p>
        <ul>
            <li>Масові фальсифікації під час президентських виборів 2004 року</li>
            <li>Незадоволення суспільства авторитарними тенденціями режиму Леоніда Кучми</li>
            <li>Зростання громадянської активності та вимог до демократичних змін</li>
        </ul>
        <h3>Наслідки революції визначили подальший розвиток країни:</h3>
        <ul>
            <li>Перемога Віктора Ющенка на повторних виборах 2004 року</li>
            <li>Зміцнення ролі громадянського суспільства</li>
            <li>Зміна Конституції (запровадження парламентсько-президентської форми правління)</li>
        </ul>
        <p>Помаранчева революція стала символом демократичних змін, однак суперечності між її лідерами — Віктором
            Ющенком та
            Юлією Тимошенко — призвели до послаблення реформаторського курсу.</p>
        <h2>2. Президентство Віктора Ющенка (2005–2010 рр.)</h2>
        <div class="picture">
            <img id="Picutre206" class="small" src="./src/image206.jpg">
            <p>Віктор Ющенко</p>
        </div>
        <h3>Головними завданнями президента Ющенка були:</h3>
        <ul>
            <li>Реформування політичної системи</li>
            <li>Посилення боротьби з корупцією</li>
            <li>Поглиблення співпраці з Європейським Союзом і НАТО</li>
        </ul>
        <h3>Досягнення періоду Ющенка:</h3>
        <ol>
            <li>Укладення Плану дій Україна — ЄС (2005 р.), що визначив євроінтеграційний курс країни</li>
            <li>Визнання Голодомору 1932–1933 років геноцидом українського народу</li>
            <li> Відновлення історичної пам’яті, розвиток національної ідентичності</li>
        </ol>
        <h3>Недоліки:</h3>
        <ol>
            <li>Відсутність значущих економічних реформ</li>
            <li>Політичні конфлікти в середовищі коаліції, зокрема між Ющенком і Тимошенко</li>
            <li>Відчуження між владою і суспільством через невиконання багатьох передвиборчих обіцянок</li>
        </ol>
        <p>Незважаючи на великий демократичний потенціал, президентство Ющенка виявилося слабким з точки зору
            реалізації обіцяних змін.</p>

        <h2>3. Президентство Віктора Януковича (2010–2014 рр.)</h2>
        <h3>Прихід до влади:</h3>
        <p>Віктор Янукович, кандидат від Партії регіонів, переміг на виборах 2010 року. Його президентство
            ознаменувалося значним відхиленням від демократичних принципів, які були досягнуті в попередні роки.</p>
        <div class="picture">
            <img id="Picutre196" class="medium" src="./src/image196.jpg">
            <p>Підписання Будапештського меморандуму</p>
        </div>
        <h3>Головні риси політичного курсу Януковича:</h3>
        <ol>
            <li>Централізація влади:</li>
            <p>У 2010 році Конституційний суд України скасував зміни до Конституції 2004 року, повернувши президенту
                широкі повноваження</p>
            <li>Корупція та олігархізація:</li>
            <p>Політика Януковича була спрямована на зміцнення впливу олігархічних груп, які підтримували його режим
            </p>
            <li>Обмеження свободи слова та громадянських прав:</li>
            <p>Відбулося переслідування опозиції, зокрема Юлії Тимошенко, яку засудили до ув’язнення у 2011 році за
                звинуваченням у перевищенні службових повноважень</p>
        </ol>
        <h3>Економічна політика:</h3>
        <p>Попри початкове відновлення економіки після світової фінансової кризи 2008–2009 рр., уряд Януковича не
            зміг забезпечити стабільного зростання. Основними проблемами були:</p>
        <ul>
            <li>Залежність від зовнішніх запозичень;</li>
            <li>більшення державного боргу;</li>
            <li>Корупція в державному секторі.</li>
        </ul>
        <h3>Євроінтеграція та поворот до Росії</h3>
        <p>У 2013 році Україна перебувала на порозі підписання Угоди про асоціацію з Європейським Союзом. Однак у
            листопаді 2013 року уряд Януковича оголосив про зупинення підготовки до підписання угоди, що викликало
            масові протести в країні.</p>
        <h2>4. Суспільно-політичні процеси у 2005–2013 рр.</h2>
        <p>Цей період характеризувався значним підвищенням рівня громадянської активності. Основні тенденції:</p>
        <ol>
            <li>Розвиток громадянського суспільства:</li>
            <ul>
                <li>Після Помаранчевої революції зросла кількість громадських організацій, активізувалися волонтерські
                    рухи.
                </li>
            </ul>
            <li>Протести:</li>
            <ul>
                <li>Акції протесту проти ухвалення мовного закону “Колесніченка-Ківалова” (2012 р.), який розширював
                    права
                    російської мови</li>
                <li>Початок масових протестів (Євромайдан) у листопаді 2013 року після відмови від євроінтеграції</li>
            </ul>
            <li>Інформаційна боротьба:</li>
            <ul>
                <li>Активізація соціальних мереж і нових медіа стала важливим чинником у політичних процесах</li>
            </ul>
            <li>Політична поляризація:</li>
            <ul>
                <li>Суспільство розкололося на прихильників євроінтеграції та тих, хто підтримував проросійський курс
                </li>
            </ul>
        </ol>
        <h2>5. Міжнародні відносини</h2>
        <h3>Європейський напрямок:</h3>
        <p>Україна активно співпрацювала з ЄС у рамках програми “Східне партнерство”. Проте нездатність уряду
            забезпечити
            реформи, необхідні для зближення з Європою, створювала перешкоди на цьому шляху</p>
        <h3>Відносини з Росією:</h3>
        <p>Росія намагалася утримати Україну в сфері свого впливу через економічний тиск (газові конфлікти) та
            пропозицію
            вступити до Митного союзу</p>
        <h2>6. Передумови Революції Гідності</h2>
        <p>Наприкінці 2013 року в Україні склалися всі передумови для масштабних суспільно-політичних змін:</p>
        <ol>
            <li>Авторитаризм режиму Януковича</li>
            <li>Зростання соціального невдоволення через корупцію та економічні проблеми</li>
            <li>Відмова від євроінтеграції</li>
        </ol>
        <p>Ці фактори призвели до початку Революції Гідності, яка стала кульмінацією суспільно-політичних процесів цього
            періоду.</p>
        <h2>Висновки</h2>
        <p>Період 2005–2013 рр. став важливим етапом в історії України, коли країна намагалася закріпити демократичні
            здобутки Помаранчевої революції, але зіткнулася з викликами авторитаризму, корупції та економічних криз.
            Політична боротьба, суспільна активність та зовнішні впливи сформували умови для подальших змін, які
            розпочалися
            під час Революції Гідності 2013–2014 рр</p>
        <p>Україна цього періоду стала ареною боротьби між демократичними прагненнями суспільства та авторитарними
            тенденціями влади, що визначило її подальший розвиток</p>
        <h2>Список використаних джерел:</h2>
        <ol>
            <li>Конституція України</li>
            <li>Офіційні матеріали Верховної Ради України</li>
            <li>Аналітичні звіти громадських організацій</li>
            <li>Праці українських істориків та політологів</li>
            <li>Підручник "Історія України 11 клас" </li>
        </ol>
    </main>
</body>

</html>